:root {

  --main-font-color: #FFFFFF;
  /* --main-font-color: #2D2D2D; */
  
  color-scheme: light dark;
  background-color: whitesmoke;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
}

a {
  font-family: "helvetica Neue", sans-serif;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  text-decoration: inherit;
}
a:hover {
  color: #59cf23;
}

body {
  margin: 0 auto;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: "helvetica Neue", sans-serif;
  font-size: 100px;
  line-height: 88px;
  letter-spacing: -2%;
  font-weight: bold;
}

h2 {
  font-family: "helvetica Neue", sans-serif;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -2%;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -4%;
  font-weight: light;
}

h4 {
  font-family: "helvetica Neue", sans-serif;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: -2%;
  font-weight: bold;
}

p {
  font-family: "helvetica Neue", sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: -4%;
  font-weight: light;
}


